<div>
	<label for="name">Figurine name</label>
	<input type="text" name="name" ng-model="figurine.name">
</div>

<div>
	<label for="description">Description</label>
	<input type="text" name="description" ng-model="figurine.inventoryDescription">
</div>

<div>
	<label for="price">Price</label>
	<input type="text" name="price" ng-model="figurine.price">
</div>

<div>
	<label for="quantity">Quantity</label>
	<input type="text" name="quantity" ng-model="figurine.quantity">
</div>

<div>
	<label for="height">Height</label>
	<input type="text" name="height" ng-model="figurine.height">
</div>

<div>
	<label for="weight">Weight</label>
	<input type="text" name="weight" ng-model="figurine.weight">
</div>

<div>
	<label for="year">Year</label>
	<input type="text" name="year" ng-model="figurine.year">
</div>

<div>
	<label for="quality">Quality</label>
	<input type="text" name="quality" ng-model="figurine.quality">
</div>

<button ng-click="createFigurine()">Sell Your Figurine</button>














